NETWORK=voitest-v1
INDEXER_API_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ADMIN_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
POSTGRES_USER=indexer_user
POSTGRES_PASSWORD=indexer_password
POSTGRES_DB=indexer
VIRTUAL_HOST=voi-test-indexer.sample.com
LETSENCRYPT_EMAIL=user@example.com
